@charset "utf-8";
@font-face {
    font-family: 'MrDeHaviland-Regular';
    src: local('MrDeHaviland-Regular'), local('MrDeHaviland-Regular'), url(/ThemeName/lib/Fonts/MrDeHaviland-Regular.ttf);
}

* {
    text-decoration: none;
    font-family: monospace;
    font-size: medium;
    overflow: hidden;
}

#wrapper {
    position: absolute;
    width: 86vw;
    float: left;
    top: 50px;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0;
    height: calc(100vh - 50px);
}

#icon {
    width: 12vw;
    height: 12vw;
    margin: 1vw auto;
}

#text {
    width: 12vw;
    min-height: 3vw;
    margin: 1vw auto;
}

#text p {
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    line-height: 20px;
}

#credits {
    width: 100%;
    height: 2vw;
    text-align: center;
    vertical-align: middle;
    line-height: 2vw;
}

#qrcode {
    width: 12vw;
    height: 12vw;
    margin: 1vw auto;
    display: block;
}

#infodiv {
    position: absolute;
    width: 14vw;
    float: left;
    top: 51px;
    right: 0;
    overflow-y: auto;
    bottom: 0;
    height: calc(100vh - 51px);
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    height: 31px;
}

thead tr {
    display: block;
    position: relative;
}

tbody {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 50px - 33px);
    -webkit-overflow-scrolling: touch;
}

#top {
    width: 100vw;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

#topleft {
    width: calc(86vw - 1px);
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

#settingsicon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

#settingsicon button {
    width: 100%;
    height: 100%;
    line-height: 50px;
    padding: 0;
    border: none;
}

#settingsicon button:hover {
    cursor: pointer;
}

#settingsicon button img {
    width: 100%;
}

#breadcrumb,
.rcrumbs {
    width: calc(86vw - 51px);
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 50px;
}

#topright {
    width: 14vw;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 86vw;
    right: 0;
    text-align: center;
    vertical-align: middle;
}

#topright p {
    font-family: MrDeHaviland-Regular;
    margin: 0;
    font-size: x-large;
}

#indexlist {
    width: 100%;
}

tr.indexhead {
    text-align: left;
}

th.indexcolicon, td.indexcolicon {
    width: 1.4vw;
}

th.indexcolname, td.indexcolname {
    width: 62.78vw;
}

th.indexcollastmod {
    text-align: center;
    width: 16.354vw;
}

td.indexcollastmod {
    text-align: center;
    width: 16.3vw;
}

th.indexcolsize, td.indexcolsize {
    text-align: center;
    width: 5.52vw;
}

tr.indexbreakrow hr {
    display: none
}

::-webkit-scrollbar {
    height: 4px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.rcrumbs>ul {
    padding: 0;
    padding-left: 10px;
    list-style: none;
    margin: 0;
    line-height: 50px;
    height: 100%;
}

.rcrumbs>ul>li {
    overflow: hidden;
    display: none;
}

.rcrumbs>ul>li.show {
    display: inline-block;
}

.rcrumbs>ul>li.ellipsis {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

.rcrumbs a {
    font-size: x-large;
}

.rcrumbs .divider {
    padding: 0 5px;
    font-size: x-large;
}

#settings {
    display: none;
    position: absolute;
    width: 86vw;
    float: left;
    top: 50px;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0;
    height: calc(100vh - 50px);
    -webkit-overflow-scrolling: touch;
}

#close {
    display: none;
}

tbody tr:hover {
    cursor: pointer;
}

#settings h2 {
    font-size: xx-large;
    /* width: calc(100% - 30px); */
    margin: 0;
    height: 69px;
    line-height: 69px;
    padding-left: 30px;
    /* position: absolute; */
    overflow: hidden;
    border-bottom: 1px solid #2F2F2F;
}

.SettingsItem p {
    /* Remove */
    height: 30px;
    margin: 0;
    margin-bottom: 13px;
    overflow: hidden;
}

#settings .container {
    width: 100%;
    position: relative;
    /* height: calc(100% - 70px); */
    /* top: 70px; */
    overflow: hidden;
    /* overflow-y: scroll; */
    /* -webkit-overflow-scrolling: touch; */
}

input {
    border: none;
    height: 100%;
    text-align: center;
}

tbody tr.odd:hover {
    transition: background-color .20s ease;
}

tbody tr.even:hover {
    transition: background-color .20s ease;
}

#save {
    margin-top: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    border: none;
    float: right;
}

#save:hover {
    cursor: pointer;
}

#save img {
    width: 100%;
}

#reset {
    margin-top: 10px;
    margin-right: 10px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    border: none;
    float: right;
    font-size: large;
}

#reset:hover {
    cursor: pointer;
}

/* #reset img {
    width: 100%;
} */

#JSerror p {
    margin: 0;
    text-align: center;
    color: #FF0000;
    font-size: medium;
}

#JSerror {
    width: calc(86vw - 1px);
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

#infodivcontent {
    min-height: calc(100% - 2vw);
}

body {
    color: #FFFFFF;
    background-color: #1F1F1F;
}

#icon {
    color: #FFFFFF;
    background-color: #2F2F2F;
}

#text {
    color: #FFFFFF;
    background-color: #2F2F2F;
}

#credits {
    background-color: #2f2f2f;
}

#credits a {
    color: #4F4F4F;
}

#infodiv {
    background-color: #2f2f2f;
}

#topleft {
    background-color: #2f2f2f;
    border-right: 1px solid #1f1f1f;
}

#settingsicon button img {
    background-color: #2f2f2f;
}

#topright {
    background-color: #2f2f2f;
    color: #6f6f6f;
}

tr.indexhead a {
    color: #FFFFFF;
}

tr.indexhead {
    border-bottom: 1px solid #2f2f2f;
    background-color: #1f1f1f;
}

tr.odd {
    color: #FFFFFF;
    background-color: #4f4f4f;
}

tr.even {
    color: #FFFFFF;
    background-color: #1f1f1f;
}

tr.odd a {
    color: #FFFFFF;
}

tr.even a {
    color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 04px;
}

::-webkit-scrollbar-thumb {
    background: #888888;
    border: thin solid #808080;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666666;
    border: thin solid #666666;
}

.rcrumbs * {
    color: #6f6f6f;
}

.rcrumbs .divider {
    color: #cccccc;
}

#settings {
    background-color: #1f1f1f;
    color: #6f6f6f;
}

tbody tr.odd:hover {
    color: #FFFFFF;
    background-color: #3f3f3f;
}

tbody tr.even:hover {
    color: #FFFFFF;
    background-color: #3f3f3f;
}

.rcrumbs a:hover {
    color: #4f4f4f;
    /* background-color: #2F2F2F; */
}

#credits a:hover {
    color: #6f6f6f;
    /* background-color: #2F2F2F; */
}

#save {
    background-color: #1F1F1F;
}

#reset {
    background-color: #1F1F1F;
    color: #FFFFFF;
}

#settingsicon button:hover img {
    background-color: #3F3F3F;
}

#save:hover {
    background-color: #2F2F2F;
}

#reset:hover {
    background-color: #2F2F2F;
    color: #FFFFFF
}

.SettingsItem {
    width: 50%;
    float: left;
    text-align: center;
}

.SettingsItem p,
input {
    width: 45%;
    float: left;
}