@font-face {
  font-family: 'MrDeHaviland-Regular';
  src: local("MrDeHaviland-Regular"), local("MrDeHaviland-Regular"), url(/NSSTFAI/lib/Fonts/MrDeHaviland-Regular.ttf);
}

::-webkit-scrollbar {
  height: 4px;
  width: 04px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888888;
  border: thin solid #808080;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666666;
  border: thin solid #666666;
}

* {
  text-decoration: none;
  font-family: monospace;
  font-size: medium;
  overflow: hidden;
}

body {
  color: #FFFFFF;
  background-color: #1F1F1F;
}

#wrapper {
  position: absolute;
  width: 86vw;
  float: left;
  top: -webkit-calc(50px + 1px);
  top: calc(50px + 1px);
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  bottom: 0;
  height: -webkit-calc(100vh - 50px - 1px);
  height: calc(100vh - 50px - 1px);
}

#wrapper table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

#wrapper table .indexbreakrow {
  display: none;
}

#wrapper table .indexcolicon {
  width: 26px;
}

#wrapper table .indexcollastmod {
  text-align: center;
  width: 12%;
}

#wrapper table .indexcolsize {
  text-align: center;
  width: 6%;
}

#wrapper table .indexhead {
  text-align: left;
  border-bottom: 1px solid #2f2f2f;
  background-color: #1f1f1f;
}

#wrapper table .indexhead a {
  color: #FFFFFF;
}

#wrapper table tr {
  width: 100%;
}

#wrapper table thead {
  width: 100%;
}

#wrapper table thead tr {
  position: relative;
}

#wrapper table tbody {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: -webkit-calc(100vh - 50px - 33px);
  max-height: calc(100vh - 50px - 33px);
  -webkit-overflow-scrolling: touch;
}

#wrapper table tbody .odd {
  background-color: #4f4f4f;
}

#wrapper table tbody .even {
  background-color: #1f1f1f;
}

#wrapper table tbody .selected {
  outline: 1px solid #111;
  outline-style: auto !important;
  background-color: #6F6F6F;
}

#wrapper table tbody tr, #wrapper table tbody tr a {
  color: #FFFFFF;
}

#wrapper table tbody tr:hover {
  cursor: pointer;
  -webkit-transition: background-color .20s ease;
  -o-transition: background-color .20s ease;
  transition: background-color .20s ease;
  color: #FFFFFF;
  background-color: #3f3f3f;
}

#infodiv {
  position: absolute;
  width: -webkit-calc(100vw - 86vw);
  width: calc(100vw - 86vw);
  float: left;
  top: -webkit-calc(50px + 1px);
  top: calc(50px + 1px);
  right: 0;
  overflow-y: auto;
  bottom: 0;
  height: -webkit-calc(100vh - 50px - 1px);
  height: calc(100vh - 50px - 1px);
  background-color: #2f2f2f;
}

#infodiv #credits {
  width: 100%;
  height: 2vw;
  text-align: center;
  vertical-align: middle;
  line-height: 2vw;
  background-color: #2f2f2f;
}

#infodiv #credits a {
  color: #4F4F4F;
}

#infodiv #credits a:hover {
  color: #6f6f6f;
}

#infodiv #infodivcontent {
  min-height: -webkit-calc(100% - 2vw);
  min-height: calc(100% - 2vw);
}

#infodiv #infodivcontent #icon {
  width: -webkit-calc(100% - 2vw);
  width: calc(100% - 2vw);
  height: -webkit-calc(100% - 2vw);
  height: calc(100% - 2vw);
  margin: 1vw auto;
  color: #FFFFFF;
  background-color: #2F2F2F;
}

#infodiv #infodivcontent #text {
  width: -webkit-calc(100% - 2vw);
  width: calc(100% - 2vw);
  min-height: 3vw;
  margin: 1vw auto;
  color: #FFFFFF;
  background-color: #2F2F2F;
}

#infodiv #infodivcontent #text p {
  word-wrap: break-word;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  line-height: 20px;
}

#infodiv #infodivcontent #qrcode {
  width: -webkit-calc(100% - 2vw);
  width: calc(100% - 2vw);
  height: -webkit-calc(calc(100vw - 86vw) - 2vw);
  height: calc(calc(100vw - 86vw) - 2vw);
  margin: 1vw auto;
  display: block;
}

#top {
  width: 100vw;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #1F1F1F;
  position: absolute;
  top: 0;
  left: 0;
}

#top #topleft {
  width: -webkit-calc(86vw - 1px);
  width: calc(86vw - 1px);
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2f2f2f;
  border-right: 1px solid #1f1f1f;
}

#top #topleft #breadcrumb, #top #topleft .rcrumbs {
  width: -webkit-calc(100% - 51px);
  width: calc(100% - 51px);
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 50px;
}

#top #topleft #breadcrumb *, #top #topleft .rcrumbs * {
  color: #6f6f6f;
}

#top #topleft #breadcrumb a, #top #topleft .rcrumbs a {
  font-size: x-large;
}

#top #topleft #breadcrumb a:hover, #top #topleft .rcrumbs a:hover {
  color: #4f4f4f;
}

#top #topleft #breadcrumb .divider, #top #topleft .rcrumbs .divider {
  padding: 0 5px;
  font-size: x-large;
  color: #cccccc;
}

#top #topleft #breadcrumb > ul, #top #topleft .rcrumbs > ul {
  padding: 0;
  padding-left: 10px;
  list-style: none;
  margin: 0;
  line-height: 50px;
  height: 100%;
}

#top #topleft #breadcrumb > ul > li, #top #topleft .rcrumbs > ul > li {
  overflow: hidden;
  display: none;
}

#top #topleft #breadcrumb > ul > li.show, #top #topleft .rcrumbs > ul > li.show {
  display: inline-block;
}

#top #topleft #breadcrumb > ul > li.ellipsis, #top #topleft .rcrumbs > ul > li.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

#top #topleft #settingsicon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

#top #topleft #settingsicon button {
  width: 100%;
  height: 100%;
  line-height: 50px;
  padding: 0;
  border: none;
}

#top #topleft #settingsicon button img {
  width: 100%;
  background-color: #2f2f2f;
}

#top #topleft #settingsicon button:hover {
  cursor: pointer;
}

#top #topleft #settingsicon button:hover img {
  background-color: #3F3F3F;
}

#top #topleft #JSerror {
  width: -webkit-calc(100% - 1px);
  width: calc(100% - 1px);
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

#top #topleft #JSerror p {
  margin: 0;
  text-align: center;
  color: #FF0000;
  font-size: medium;
}

#top #topright {
  width: -webkit-calc(100vw - 86vw);
  width: calc(100vw - 86vw);
  height: 50px;
  line-height: 50px;
  position: absolute;
  left: 86vw;
  right: 0;
  text-align: center;
  vertical-align: middle;
  background-color: #2f2f2f;
  color: #6f6f6f;
}

#top #topright p {
  font-family: MrDeHaviland-Regular;
  margin: 0;
  font-size: xx-large;
}

#settings {
  display: none;
  position: absolute;
  width: 86vw;
  float: left;
  top: -webkit-calc(50px + 1px);
  top: calc(50px + 1px);
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  bottom: 0;
  height: -webkit-calc(100vh - 50px - 1px);
  height: calc(100vh - 50px - 1px);
  -webkit-overflow-scrolling: touch;
  background-color: #1f1f1f;
  color: #6f6f6f;
}

#settings h2 {
  font-size: xx-large;
  margin: 0;
  height: 69px;
  line-height: 69px;
  padding-left: 30px;
  overflow: hidden;
  border-bottom: 1px solid #2F2F2F;
}

#settings h2 #save {
  margin-top: 10px;
  margin-right: 10px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  border: none;
  float: right;
  background-color: #1F1F1F;
}

#settings h2 #reset {
  margin-top: 10px;
  margin-right: 10px;
  width: 100px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  border: none;
  float: right;
  font-size: large;
  background-color: #1F1F1F;
  color: #FFFFFF;
}

#settings h2 #reset:hover {
  cursor: pointer;
  background-color: #2F2F2F;
  color: #FFFFFF;
}

#settings .container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#settings .container .SettingsItem {
  width: 50%;
  float: left;
  text-align: center;
}

#settings .container .SettingsItem p {
  margin: 0;
  overflow: hidden;
}

#settings .container .SettingsItem input {
  border: none;
  height: 100%;
  text-align: center;
}

#settings .container .SettingsItem .BorderStyling {
  width: -webkit-calc(45% / 3);
  width: calc(45% / 3);
}

#settings .container .SettingsItem p, #settings .container .SettingsItem input, #settings .container .SettingsItem select {
  width: 45%;
  float: left;
  height: 35px;
  margin-bottom: 20px;
  vertical-align: middle;
  line-height: 35px;
  border: none;
  padding: 0;
  -moz-text-align-last: center;
       text-align-last: center;
}

@media screen and (max-width: 770px) {
  #infodiv {
    display: none;
  }
  #settings {
    width: 100vw;
  }
  #top #topleft {
    border-right: none !important;
    width: 100%;
  }
  #top #topright {
    display: none;
  }
  #wrapper {
    width: 100vw;
  }
}

@media screen and (max-width: 770px) and (orientation: Landscape) {
  #wrapper table .indexcolicon {
    width: 26px;
  }
  #wrapper table .indexcolsize {
    width: 8%;
  }
  #wrapper table .indexcollastmod {
    width: 20%;
  }
}

@media screen and (max-width: 770px) and (orientation: Portrait) {
  #wrapper table .indexcolicon {
    width: 26px;
  }
  #wrapper table .indexcolsize {
    width: 12%;
  }
  #wrapper table .indexcollastmod {
    width: 35%;
  }
}
/*# sourceMappingURL=Main.css.map */